.form {
    padding: 1rem;
    border: 2px solid blue;
    border-radius: 6px;
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.form label {
    color: blue;
    font-size: 1.5rem;
}

.form input {
    padding: 0.5rem;
}
